@model IEnumerable<gui.ViewModels.FirmaZRankingiemVM>
@{
    ViewBag.Title = "RankingFirm";
}

<h2>RankingFirm</h2>

<table>

    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("_PojedynczaFirma", item)
        </tr>
    }
</table>


