@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Top10Firma<br />
    Bielsko-Biała<br />
    <abbr title="Phone">P:</abbr>
    514 361 562
</address>

<address>
    <strong>Support:</strong>   <a href="przemo07@o2.pl">przemo07@o2.pl</a>
</address>